/* Setting panels: full-size <section role="region"> blocks */
section[role="region"] {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border: 0;
overflow: hidden;
background-color:  #f0c68c;
}

/**
* bug 976299 non-visible regions take an extra layer
* in the layer tree. Remove them to improve scroll performance
* in exchange for a reflow on section transitions.
*
* bug 976630 non-visible regions should have a visibility of hidden
* for accessibility purposes. Removing the visibility transition
* in hidden->visible avoids flashing.
*/
section[role="region"]:not(:target) {
transform: translateX(+100%);
visibility: hidden;
}
section[role="region"]:not(:target).previous {
transform: translateX(-100%);
visibility: hidden;
}
section[role="region"]:not(:target).current {
transform: translateX(0);
visibility: visible;
}

/**
* Only use the animation when ready
*/
body[data-ready="true"] section[role="region"] {
transition: transform .4s ease, visibility .4s;
}
body[data-ready="true"] section[role="region"].current {
transition: transform .4s ease;
}

/* Trasparent background for headers */
section[role="region"] > header:first-child {
	background-color: transparent;
}
section[role="region"] article header {
	background-color: transparent;
}

/**
 * The Game
 */

body {
	font-family: sans-serif;
  user-select: none;
  -moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.die {
  position: absolute;
    width: 1em;
    height: 1em;
	margin-top: -0.5em;
	margin-left: -0.5em;
    background-color: white;
    border-radius: 0.2em;
  line-height: 1em;
  text-align: center;
  font-size: 500%;
  box-shadow: -0.02em -0.02em 0.01em black inset;
  transition: top 0.5s ease, left 0.5s ease, font-size 0.5s ease
}
.die:active{
	background-color: red;
  transition: background-color 0.75s ease;
}
.die .bullet {
	position: absolute;
  width: 0.25em;
  height: 0.25em;
  margin-top: -0.125em;
  margin-left: -0.125em;
  border-radius: 0.25em;
  background-color: black;
  box-shadow: -0.01em -0.01em 0.01em white inset;
}
.die:active .bullet {
	box-shadow: -0.01em -0.01em 0.01em red inset;
  transition: box-shadow 0.75s ease;
}
.die .bullet.cc {
	top: 50%;
  left: 50%;
}
.die .bullet.tl {
	top: 20%;
  left: 20%;
}
.die .bullet.tr {
	top: 20%;
  left: 80%;
}
.die .bullet.bl {
	top: 80%;
  left: 20%;
}
.die .bullet.br {
	top: 80%;
  left: 80%;
}
.die .bullet.cr {
	top: 50%;
  left: 20%;
}
.die .bullet.cl {
	top: 50%;
  left: 80%;
}


